@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-vanilla-cream: #f0ead2;
  --color-cream: #dde5b6;
  --color-muted-olive: #adc178;
  --color-faded-copper: #a98467;
  --color-ash-brown: #6c584c;
}

html,
body {
  @apply bg-radial-[at_40%_25%] from-cyan-200 to-emerald-300 dark:bg-gray-950;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
